*{
	font-family:Arial;
	line-height:1.5;
	margin:  0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color:white;
	box-sizing: border-box;
}

header {
	height:70px;
	width:100%;
	background-color:green;
	text-align:center;
	line-height:70px;
	font-size:1.3em;
}

.main{
	display:block;
	margin-left:  auto;
	margin-right:  auto;
	width : 800px;
	height:800px;
}

nav{
	float:left;
	width:200px;
	height:100%;
	background-color: red;
	box-sizing: border-box;
}


nav>ul>li:hover{
	background-color:green;
}

nav>ul{
  display:block;
  list-style-type: none;
  width:150px;
  padding: 0;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
}

nav>ul>li:hover{
	background-color:green;
}

nav>ul>li{
	margin:5px;
}


.article{
	color:black;
	padding:30px;
	font-size:1em;
	text-align:justify;
	margin-left:200px;
}

.article::selection{
	background-color:green;	
}

.article::first-letter{
	color:red;
	font-size:1.5em;
}

footer {
	height:45px;
	width:100%;
	background-color:black;
	text-align:center;
	line-height:45px;
}